# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [14]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [15]:
df_pokemon = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df_pokemon

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [16]:
dragon_hp = df_pokemon[(df_pokemon['Type 1'] == 'Dragon') | (df_pokemon['Type 2'] == 'Dragon')]['HP']
grass_hp = df_pokemon[(df_pokemon['Type 1'] == 'Grass') | (df_pokemon['Type 2'] == 'Grass')]['HP']

In [17]:
# Perform an independent two-sample t-test
t_stat, p_value = st.ttest_ind(dragon_hp, grass_hp, equal_var=False)

# Print the results
print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")

T-statistic: 4.097528915272702
P-value: 0.00010181538122353851

In [18]:
# I reject the null hypothesis. There is sufficient evidence to conclude that Dragon type Pokémon have, on average, higher HP stats than Grass type Pokémon

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [19]:
from statsmodels.multivariate.manova import MANOVA

# Select the relevant columns for comparison
stats_columns = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']

# Perform MANOVA
manova = MANOVA.from_formula('HP + Attack + Defense + Q("Sp. Atk") + Q("Sp. Def") + Speed ~ Legendary', data=df_pokemon)
manova_results = manova.mv_test()

# Print the results
print(manova_results)

                   Multivariate linear model
================================================================

----------------------------------------------------------------
       Intercept         Value  Num DF  Den DF   F Value  Pr > F
----------------------------------------------------------------
          Wilks' lambda  0.0592 6.0000 793.0000 2100.8338 0.0000
         Pillai's trace  0.9408 6.0000 793.0000 2100.8338 0.0000
 Hotelling-Lawley trace 15.8953 6.0000 793.0000 2100.8338 0.0000
    Roy's greatest root 15.8953 6.0000 793.0000 2100.8338 0.0000
----------------------------------------------------------------

----------------------------------------------------------------
          Legendary        Value  Num DF  Den DF  F Value Pr > F
----------------------------------------------------------------
             Wilks' lambda 0.7331 6.0000 793.0000 48.1098 0.0000
            Pillai's trace 0.2669 6.0000 793.0000 48.1098 0.0000
    Hotelling-Lawley trace 0.3640 6.0000 793.0000 48.1098 0.0000
       Roy's greatest root 0.3640 6.0000 793.0000 48.1098 0.0000
================================================================

In [ ]:
# This indicates that Legendary Pokemons have significantly different stats compared to Non-Legendary Pokemons.
# I reject the null hypothesis. This indicates that Legendary Pokémon have significantly different stats compared to Non-Legendary Pokémon.

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [21]:
df2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 34)
- Hospital coordinates (-122, 37)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [22]:
# Function to calculate Euclidean distance
def euclidean_distance(lat1, lon1, lat2, lon2):
    return np.sqrt((lat1 - lat2)**2 + (lon1 - lon2)**2)

# School and hospital coordinates
school_coords = (-118, 34)
hospital_coords = (-122, 37)

# Calculate distances
df2['distance_to_school'] = df2.apply(lambda row: euclidean_distance(row['longitude'], row['latitude'], school_coords[0], school_coords[1]), axis=1)
df2['distance_to_hospital'] = df2.apply(lambda row: euclidean_distance(row['longitude'], row['latitude'], hospital_coords[0], hospital_coords[1]), axis=1)

df2

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,distance_to_school,distance_to_hospital
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,3.694888,8.187319
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,3.552591,7.966235
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,3.453940,8.143077
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,3.448840,8.154416
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,3.456848,8.183508
...,...,...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0,9.082070,4.233675
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0,9.168915,4.332320
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0,10.057614,5.358694
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0,10.026465,5.322593
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0,9.115597,4.249012

In [23]:
# Define the threshold for being close
threshold = 0.50

# Create a new column to indicate if a house is close to either a school or a hospital
df2['close_to_school_or_hospital'] = (df2['distance_to_school'] < threshold) | (df2['distance_to_hospital'] < threshold)

# Divide the dataset into two groups
close_houses = df2[df2['close_to_school_or_hospital']]
far_houses = df2[~df2['close_to_school_or_hospital']]

# Display the results
print(f"houses close to a school or hospital: {len(close_houses)}")
print(f"houses far from a school or hospital: {len(far_houses)}")

houses close to a school or hospital: 6829
houses far from a school or hospital: 10171

In [24]:
# Perform an independent two-sample t-test
t_stat, p_value = st.ttest_ind(close_houses['median_house_value'], far_houses['median_house_value'], equal_var=False)

# Print the results
print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")

T-statistic: 37.992330214201516
P-value: 3.0064957768592614e-301

In [25]:
#I reject the null hypothesis. Houses close to a school or hospital are significantly more expensive.